################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProyectoGIt/obj
/ProyectoGIt/bin/Debug/net7.0
/ProyectoGIt/.vs/ProyectoGit
